body {
    background-image: url("../images/harry-potter-voldemort-fighting.jpg");
    background-size: 100%;
    font-family: 'Spectral SC', serif;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Spectral', serif;
    color: #fff;
    text-shadow: 2px 2px #0000004b;
}

.main-prompt {
    background-color: rgba(255, 255, 255, 0.342);
    color: goldenrod;
    width: auto;
    border-radius: 10px;
    font-weight: 900;
}

.card-title {
    font-size: 8pt;
    padding: 2px;
    margin: 0px;
}

.card-text {
    font-size: 10pt;
    font-weight: 900;
    padding: 0px;
    margin-bottom: 0px;
}

.card-body {
    padding: 1px;
    margin: 0px;
}

.card-bg {
    background-color: rgba(255, 255, 255, 0.342);
    /* height: 250px; */

    border-radius: 10px;
    z-index: 0;
}

.card {
    margin: 5px;
    z-index: 150;
    opacity: 1;
}
